<% provide(:title, 'Dang ky') %>
<h1>Dang ky</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label "Ten nguoi dung" %>
      <%= f.text_field :name %>

      <%= f.label "Dia chi hom thu" %>
      <%= f.text_field :email %>

      <%= f.label "Mat khau" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Go lai mat khau" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Dang ky", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
